.Blog {
    display: flex;
    width: 830px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    border: 1px solid #DEE2E6;
    background: #FFF;
    margin-left: 10%;
    margin-bottom: 20px;
}

/*.blogHeader {*/
/*    display: flex;*/
/*    padding: 0px 103px;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    gap: 8px;*/
/*}*/

.blogHeader {
    width: 50%;
    margin-top: 10px;
    text-align: left;
}

.blogFooter {
    display: inline-block;
    margin-left: 40px;
}


.blogFooter a {
    cursor: pointer;
}

.blogFooter a {
    text-decoration: none;
    color: #7749F8;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-right: 10px;
}

.blogP {
    margin-left: 40px;
}

.h6Input {
    font-size: 1.125rem; /* Match h6 font size */
    font-weight: 500;   /* Match h6 font weight */
    line-height: 1.5rem; /* Match h6 line height */
    margin-top: 1rem;   /* Adjust as needed */
    margin-left: 5%;
    border: none; /* Remove border */
    background-color: transparent; /* Make background transparent */
    cursor: default; /* Indicate uneditable state */
}

.h3Ele {
    line-height: 1.5rem; /* Match h6 line height */
    margin-top: 1rem;   /* Adjust as needed */
    margin-bottom: 1rem; /* Adjust as needed */
    margin-left: 37%;
    width: 90%;
    word-wrap: break-word;
}

.pInput {
    font-size: 1rem; /* Match paragraph font size */
    font-weight: 400; /* Match paragraph font weight */
    line-height: 1.5rem; /* Match paragraph line height */
    margin-top: 0.8rem; /* Adjust as needed */
    margin-left: 40px;
    border: none; /* Remove border */
    background-color: transparent; /* Make background transparent */
    cursor: default; /* Indicate uneditable state */
    width: 90%;
}

.pEle {
    line-height: 1.5rem; /* Comfortable line height */
    margin-top: 0.8rem; /* Adjust vertical spacing as needed */
    margin-bottom: 1rem;
    margin-left: 40px; /* Indent slightly for visual clarity */
    max-width: 90%; /* Occupy 90% of available width, maintaining responsiveness */
    word-wrap: break-word;
}

.blogA {
    margin-left: 37%;
}


.blogImg {
    border-radius: 5%;
    width: 25%;
    float: left;
    margin-left: 30px;
}