body {
    background-color: #F8F9FA;
}
.signupForm {
    width: 456px;
    height: 363px;
    flex-shrink: 0;
    fill: #FFF;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.12));
    margin-left: 35%;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    margin-top: 5rem;
    padding-top: 3rem;
}

.signupBtn {
    display: flex;
    padding: 10px 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background: #7749F8;
    margin: 1rem auto;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
}

.signupForm input {
    display: flex;
    padding: 5px 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #7749F8;
    background: #FFF;
    box-shadow: 0 0 0 3px rgba(102, 16, 242, 0.15);
    margin: 1rem auto;
    color: #232526;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.signupForm input::placeholder {
    color: #ADB5BD;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.signupBtn:hover {
    /* Transform the button on hover */
    transform: scale(1.1); /* Example: Scale up slightly */

    /* Add other visual changes as desired */
    background-color: #663de8; /* Example: Darken the background */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Example: Add a shadow */
}

.loading-circle {
    display: block; /* Initially hidden */
    width: 20px; /* Adjust as needed */
    height: 20px;
    border-radius: 50%;
    border: 2px solid #9b99a3; /* #7749F8 Match button color */
    border-top-color: transparent; /* Create spinner effect */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}